{% extends "base.html" %}

{% block session_info %}Logged in as {{session_user}} {% endblock %}

{% block content %}

<div class="row">
    <!--Sign-in form-->
    <form class="form-horizontal" method="post">
        
        <!--Header info, like name, position and location-->
        <div><h3>Header Information</h3></div>
        <!--name-->
        <div class="control-group">
            <label class="control-label" for="name">Your full name</label>
            <div class="controls">
                <input type="text" name="name" placeholder="Rushi Agrawal">
            </div>
        </div>
        <!--position-->
        <div class="control-group">
            <label class="control-label" for="position">Your position, or year of university</label>
            <div class="controls">
                <input type="text" name="position" placeholder="OpenStack Developer">
            </div>
        </div>
        <!--location-->
        <div class="control-group">
            <label class="control-label" for="location">Your specialization</label>
            <div class="controls">
                <input type="text" name="location" placeholder="Bengaluru Area, India">
            </div>
        </div>
        
        <!--Summary-->
        <div class="control-group">
            <label class="control-label" for="summary">Summary</label>
            <div class="controls">
                <textarea rows="6" name="summary" placeholder="I work as an engineer primarily
                involved in developing software to integrate NetApp software products with Cinder -
                the block storage service for OpenStack - the opensource, massively scalable cloud
                operating system. I personally enjoy the OpenSource work and the community responsibility
                which comes along with it.
In my spare time, I like thinking and noticing how almost all softwares/apps can be made better. I keep trying my 
hands at implementing some funky idea or the other."></textarea>
            </div>
        </div>
        
        <div><h3>Experience</h3></div>
        <!--role-->
        <div class="control-group">
            <label class="control-label" for="experience_role">The job role</label>
            <div class="controls">
                <input type="text" name="experience_role" placeholder="Systems Engineer">
            </div>
        </div>
        <!--Description of the role-->
        <div class="control-group">
            <label class="control-label" for="experience_description">Description</label>
            <div class="controls">
                <textarea rows="6" name="experience_description" placeholder="Involved in development
                of block-storage drivers for OpenStack - the most popular opensource cloud
                platform. The drivers allows NetApp controllers to provide storage service 
                (SAN and NAS) for OpenStack."></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Add another position</button>
            </div>
        </div>


        
        <div><h3>Project</h3></div>
        <!--Project title-->
        <div class="control-group">
            <label class="control-label" for="project_name">Title of the project</label>
            <div class="controls">
                <input type="text" name="project_name" placeholder="Hadoop on OpenStack">
            </div>
        </div>
        <!--Description of the project-->
        <div class="control-group">
            <label class="control-label" for="project_description">Description</label>
            <div class="controls">
                <textarea rows="6" name="project_description" placeholder="Tried to run Hadoop clusters on OpenStack setup to create on-demand Hadoop compute clusters blah"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Add another project</button>
            </div>
        </div>

        
        <div><h3>Education</h3></div>
        <!--Duration-->
        <!--Exam/Programme-->
        <!--Institution-->
        <!--Score-->
        
        <div class="control-group">
            <label class="control-label" for="education_duration">Duration of the programme</label>
            <div class="controls">
                <input type="text" name="education_duration" placeholder="2008-2012">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="education_program">Name of the programme</label>
            <div class="controls">
                <input type="text" name="education_program" placeholder="Bachelor of Technology in Computer Science">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="education_institution">Institution</label>
            <div class="controls">
                <input type="text" name="education_institution" placeholder="IIT Hyderabad">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="education_score">Score (out of 10)</label>
            <div class="controls">
                <input type="text" name="education_score" placeholder="7.71">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Add another school</button>
            </div>
        </div>

        <div class="control-group">
            <div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

