{% extends "base.html" %}

{% block session_info %}Logged in as {{session_user}} {% endblock %}

{% block content %}



<h1>{{user_personal_info.name}}</h1>
<h5>{{user_personal_info.title}}</h5>
<p>{{user_personal_info.location}}</p>

<p class="lead">Summary</p>
<p>{{user_personal_info.summary}}</p>
<p class="lead">Experience</p>
<dl>
    <dt>{{experience.position}}</dt>
    <dd>{{experience.description}}</dd>
</dl>
<dl>
    <dt>Python Developer, OpenStack</dt>
    <dd>Involved in development of block-storage drivers for OpenStack - the most popular
    opensource cloud platform. The drivers allows NetApp controllers to provide storage
    service (SAN and NAS) for OpenStack.</dd>
</dl>
<p class="lead">Projects</p>
<dl>
    <dt>{{projects.project_name}}</dt>
    <dd>{{projects.description}}</dd>
</dl>
<dl>
    <dt>Python Developer, OpenStack</dt>
    <dd>Involved in development of block-storage drivers for OpenStack - the most popular
    opensource cloud platform. The drivers allows NetApp controllers to provide storage
    service (SAN and NAS) for OpenStack.</dd>
</dl>

            <p class="lead">Education</p>

<table class="table">
<tr>
  <th>Duration</th>
  <th>Exam/Program</th>
  <th>Institution</th>
  <th>Score</th>
</tr>
<tr>
  <td>{{education.duration}}</td>
  <td>{{education.program}}</td>
  <td>{{education.institution}}</td>
  <td>{{education.score_achieved + '/' + education.score_out_of}}</td>
</tr>
<tr>
  <td>2006-08</td>
  <td>HSC (Class 12)</td>
  <td>RLT College of Science, Akola</td>
  <td>93.5%</td>
</tr>
<tr>
  <td>1994-2006</td>
  <td>SSC (Class 10)</td>
  <td>SSGM English School, Shegaon</td>
  <td>89.20%</td>
</tr>
</table>

{% endblock %}